{% extends 'LIST.html' %}
{% load static %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 6%;">Nro</th>
        <th scope="col" style="width: 24%;">Bracelet</th>
        <th scope="col" style="width: 11%;">Temp (min)</th>
        <th scope="col" style="width: 11%;">Temp (max)</th>
        <th scope="col" style="width: 11%;">PPM (min)</th>
        <th scope="col" style="width: 11%;">PPM (max)</th>
        <th scope="col" style="width: 16%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for object in object_list %}
        <tr>
            <td>
                {{ object.id }}
            </td>
            <td>
                {{ object.bracelet }}
            </td>
            <td>
                {{ object.minimaTemperatura }}
            </td>
            <td>
                {{ object.maximaTemperatura }}
            </td>
            <td>
                {{ object.minimoPulsoCardiaco }}
            </td>
            <td>
                {{ object.maximaPulsoCardiaco }}
            </td>
            <td>
                {{ object.descripcion }}
            </td>
            <td>
                <a href="{% url 'project:form_update_bracelet' object.bracelet.id %}"
                   class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
{#                <a href="{% url 'project:form_delete_bracelet' object.bracelet.id %}"#}
{#                   class="btn btn-danger btn-xs btn-flat">#}
{#                    <i class="fas fa-trash-alt"></i>#}
{#                </a>#}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block javascript %}

{% endblock %}