{% extends 'MENU_OPCIONES/LAYOUT.html' %}
{% load static %}

{% block head %}
    {% include 'JS/JS_SELECT2.html' %}
{#    <link rel="stylesheet" type="text/css" href={% static 'css/imagenpiso.css' %}/>#}
{% endblock %}

{% block content %}
    <form action=".." method="post">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-plus"></i>
                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Sedes</label>
                    {{ form.sede }}
                </div>
                <div class="form-group">
                    <label>Piso</label>
                    {{ form.ubicacion }}
                </div>
                <div class="form-group">
                    <div id="brand_div" style="top:100px; left:100px;">
                        <div id="series_chart_div" style="width: 1080px; height: 600px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block javascript %}
    {% include 'JS/JS_CHART.html' %}
    <script type="text/javascript">
        function refreshCSS(){
            let links = document.getElementsByTagName('link');
            for (let i = 0; i < links.length; i++) {
                if (links[i].getAttribute('rel') === 'stylesheet') {
                    let href = links[i].getAttribute('href').split('?')[0];

                    let newHref = href + '?version='
                                + new Date().getMilliseconds();

                    links[i].setAttribute('href', newHref);
                }
            }
        }
    </script>

    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawSeriesChart);


        function drawSeriesChart() {
            var dataChart = google.visualization.arrayToDataTable(dataCharArray);

            var options = {
            title: 'Listado de Balizas y Manillas',
            hAxis: {
                title: 'Distancia en metros eje X',
                titleTextStyle: { color: 'black', fontSize: 10, bold: true, italic: true }, //titulo del eje X y estilo
                textStyle: { color: 'black', fontSize: 15, bold: true, italic: true },//tamaño y estilo de los numeros del eje X
                maxValue: 16, //Fija los valores del eje x
                gridlines: { count: 0 } //Eliminar las lineas del eje x
            },
            vAxis: {
                title: 'Distancia en metros eje Y',
                titleTextStyle: { color: 'black', fontSize: 10, bold: true, italic: true },//titulo del eje Y
                textStyle: { color: 'black', fontSize: 15, bold: true, italic: true }, //tamaño y estilo de los numeros del eje Y
                maxValue: 12, //Fija los valores del eje x
                gridlines: { count: 0 }//Eliminar las lineas del eje x
            },
            legend: { position: 'bottom', textStyle: { color: 'black', fontSize: 25, fontName: "Calibri", bold: true, italic: false } },//Modificación del texto y posición de la leyenda
            series: { 'Baliza': { color: "#98183a" }, 'Manilla': { color: "#f7aa3b" } },//Colores de las series de la graficas
            //backgroundColor:{fill: {color:"#a4a7ad"},stroke: {color: "#98183a"}, strokeWidth: 10},//color de fondo y marco
            backgroundColor:{fill: {color:'none'}, stroke: {color: "#98183a"}, strokeWidth: 10},//color de fondo y marco
            //backgroundColor: 'none', //Quitar el dondo y marco de la grafica
            bubble: { textStyle: { color: "blue", fontName: "Calibri", fontSize: 0.1 }, opacity: 0.7, stroke: "black" },//Estilo de la burbuja y texto de la misma
            chartArea: { left: 100, top: 100, width: '75%', height: '60%' },//Configuración del área del grafico
            sizeAxis: { minValue: 0, maxSize: 15 },//Tamaño de la burbuja
            tooltip: { textStyle: { color: '#00a2b4', fontName: 'Calibri', fontSize: 25, bold: true, italic: true, showColorCode: true }, trigger: 'focus', }//información de la elección de las burbujas
            //https://developers.google.com/chart/interactive/docs/gallery/bubblechart#javascript
        };

            function selectHandler() {
                var selectedItem = chart.getSelection()[0];
                if (selectedItem) {
                    var macDispositivo = dataChart.getValue(selectedItem.row, 0);
                    alert('El Usuario selecciono la ' + macDispositivo);
                }
            }

            var chart = new google.visualization.BubbleChart(document.getElementById('series_chart_div'));
            google.visualization.events.addListener(chart, 'select', selectHandler);
            chart.draw(dataChart, options);
        }

        var dataCharArray = [['Nombre', 'X', 'Y', 'Tipo'],];

        var select_sede = $('select[name="sede"]');
        var select_ubicacion = $('select[name="ubicacion"]');



        $(function () {
            var id;
            var frecuencia_escaneo = 1000;
            function doRefresh(){
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {
                        'action': 'graph_ubicacion',
                        'id': id
                    },
                    dataType: 'json',
                }).done(function (data) {
                    if (!data.hasOwnProperty('error')) {
                        //Proceso cuando se elije una ubicacion (después de tener una respuesta
                        dataCharArray = [
                            ['Nombre', 'X', 'Y', 'Tipo'],
                        ];
                        if (data.hasOwnProperty('todasBalizas') && data['todasBalizas'].length > 0) {
                            data['todasBalizas'].forEach(function (elemento) {
                                dataCharArray[dataCharArray.length] = elemento;
                            });
                        }
                        if (data.hasOwnProperty('todasPulseras') && data['todasPulseras'].length > 0) {
                            data['todasPulseras'].forEach(function (elemento) {
                                dataCharArray[dataCharArray.length] = elemento;
                            });
                        }

                        if(data['todasBalizas'].length > 0){
                            google.charts.load('current', {
                                    'packages': ['corechart']
                                }
                            );
                            google.charts.setOnLoadCallback(drawSeriesChart);
                        }else{
                            if(data['todasBalizas'].length === 0 && data['todasPulseras'].length === 0){
                                MensajeAlerta("No hay Datos para mostrar");
                            }else{
                                if(data['todasBalizas'].length === 0){
                                    MensajeAlerta("No hay Balizas para mostrar");
                                }
                                {#if(data['todasPulseras'].length === 0){#}
                                {#    MensajeAlerta("No hay Historial de datos de Pulseras para mostrar.");#}
                                {# }#}
                            }
                        }
                        return false;
                    } else {
                        MensajeError(data['error']);
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    MensajeError(textStatus + ': ' + errorThrown);
                }).always(function (data) {

                });
                setTimeout(function() {
                    doRefresh();
                    {#MensajeInfo("Hola mundo")#}
                }, frecuencia_escaneo);
            }

            select_ubicacion.on('change', function () {
                id = $(this).val();
                var options = '<option value"">------------------</option>';
                if (id === "") {
                    select_ubicacion.html(options);
                    return false;
                }

                doRefresh();
            });

            select_sede.on('change', function () {
                var id = $(this).val();
                var options = '<option value"">------------------</option>';
                if (id === "") {
                    select_ubicacion.html(options);
                    return false;
                }
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {
                        'action': 'search_ubicacion',
                        'id': id
                    },
                    dataType: 'json',
                }).done(function (data) {
                    if (!data.hasOwnProperty('error')) {
                        select_ubicacion.html('').select2({
                            theme: "bootstrap4",
                            language: 'es',
                            data: data
                        });
                        return false;
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    MensajeError(textStatus + ': ' + errorThrown);
                }).always(function (data) {

                });
            });
        });

    </script>

{% endblock %}




