{% extends 'LIST.html' %}
{% load static %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">Nro</th>
        <th scope="col" style="width: 30%;">Bracelet</th>
        <th scope="col" style="width: 30%;">Baliza</th>
        <th scope="col" style="width: 10%;">RSSI</th>
        <th scope="col" style="width: 20%;">Fecha Registro</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for object in object_list %}
        <tr>
            <td>
                {{ object.id }}
            </td>
            <td>
                {{ object.bracelet }}
            </td>
            <td>
                {{ object.baliza }}
            </td>
            <td>
                {{ object.rssi_signal }}
            </td>
            <td>
                {{ object.fechaRegistro }}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block botonCrear %}

{% endblock %}

{% block javascript %}

{% endblock %}











