<!DOCTYPE html>
<html lang="en">

<head>
    <title>ALERTA CAIDA</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/estiloAlert.css">
</head>

<body>
    <form autocomplete="on" name="formbasico">
        <fieldset>
            <div id="logoFCV">
                <img src="img/LOGOFCV.png" width="150">
            </div>
            <h1>!ALERTA CAIDA!</h1>
            <div id="logotipo">
                <img src="img/caida.jpg" width="150">
            </div>
            <h3>{{ user }}</h3>
            <P>Se ha presentado una caida, por favor verifique el estado del paciente {{ paciente }}.</P>
            </div>
        </fieldset>
    </form>
</body>

</html>