<!DOCTYPE html>
<html lang="en">

<head>
    <title>INICIO DE SECION</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="yhon tolosa">
    <link rel="stylesheet" type="text/css" href="css/estiloAlert.css">
</head>

<body>
    <div id="contenido">
        <form autocomplete="on" name="formbasico">
            <fieldset>
                <div id="logoFCV">
                    <img src="img/LOGOFCV.png" width="150">
                </div>
                <h1>HAS INICIADO SESION EN TU CUENTA</h1>
                <div id="logotipo">
                    <img src="IMG/notificacion.jpg" width="150">
                </div>

                <h3>{{ user }}</h3>
                <P>Si no has sido tu quien inicio sesion por favor contactate con nuestros agentes para verficar el estado de tu cuenta.</P>
            </fieldset>
        </form>
    </div>
</body>

</html>