<!DOCTYPE html>
<html lang="en">

<head>
    <title>INICIO DE SECION</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="yhon tolosa">
</head>

<body>
    <div id="contenido">
        <form autocomplete="on" name="formbasico" style="width: 450px; margin: auto; padding: 10px 20px; box-sizing: border-box; margin-top: 20px; border-radius: 7px;">
            <fieldset style="border-width: 10px; text-align: center; margin: color #555555; padding: 30px; border-radius: 10px;">
                <img src="LOGOFCV.png" width="150">
                <h1>HAS INICIADO SESION EN TU CUENTA</h1>
                <img src="notificacion.jpg" width="150">

                <h3>{{ user }}</h3>
                <P>Si no has sido tu quien inicio sesion por favor contactate con nuestros agentes para verficar el estado de tu cuenta.</P>
            </fieldset>
        </form>
    </div>
</body>

</html>