{% extends 'MENU_OPCIONES/LAYOUT.html' %}

{% block content %}
    <form action=".." method="post">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    {% if action == 'add' %}
                        <i class="fas fa-plus"></i>
                    {% else %}
                        <i class="fas fa-edit"></i>
                    {% endif %}

                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
                {% csrf_token %}
                {% if error %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> {{ error }}</h5>
                    </div>
                {% endif %}
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al querer guardar el registro</h5>
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <input type="hidden" name="action" value="{{ action }}">
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        {% if field.errors %}
                            {{ field.errors }}
                        {% endif %}
                        <label>{{ field.label }}:</label>
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
            <div class="card-footer">
                <button href="{{ create_url }}" type="submit" class="btn btn-primary btn-flat"
                        style="border-radius: 5px;">
                    <i class="fas fa-save"></i> Guardar
                </button>
                {% block botonesAdicionales %}

                {% endblock %}
            </div>
        </div>
    </form>

    {% block adicionales %}

    {% endblock %}

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = $(this).serializeArray();
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: parameters,
                dataType: 'json'
            }).done(function (data) {
                console.log(data);
                if (data.hasOwnProperty('error')) {
                    MensajeError(data['error']);
                    return false;
                } else {
                    if (data.hasOwnProperty('redirec')) {
                        window.location.href = data['redirec'];
                        return false;
                    }
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                MensajeError(textStatus + ': ' + errorThrown);
            }).always(function (data) {

            });
        });
    </script>
    {% block javascript_adicionales %}

    {% endblock %}
{% endblock %}